/* CSS declarations go here */
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;

  font-size: 14px;
}

.homepage::after{
    background-image: url("https://sun9-25.userapi.com/c851532/v851532157/18c551/sN0gTLY1uoI.jpg");
    background-repeat: no-repeat;
    background-size: 1800px 900px;
    content: "";
    opacity: 0.4;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

select {
	width: 310px;
	padding: 15px;
	height: 25px;
  border-radius: 10px;
  border-width: 2px;
  border-color: #d0d9d2;
}



.task-container {
  float: left;
  width: 100%;
}

.container {
  min-height: 100%;
  background: white;
}

header {
  text-align: left;
  margin-right: 10px;
  padding-left: 70px;
  padding-top: 100px;
}

.delete-button {
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  -webkit-box-shadow: 0px 1px 3px #cc567f;
  -moz-box-shadow: 0px 1px 3px #cc567f;
  box-shadow: 0px 1px 3px #cc567f;
  font-family: Arial;
  color: #cc5a72;
  font-size: 20px;
  background: #faf2f5;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 10px;
}

.delete-button:hover {
  background: #ebbcca;
  text-decoration: none;
}

.add-button {
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  -webkit-box-shadow: 0px 1px 3px #56ceba;
  -moz-box-shadow: 0px 1px 3px #56ceba;
  box-shadow: 0px 1px 3px #56ceba;
  font-family: Arial;
  color: #58ccb7;
  font-size: 20px;
  background: #f2fcfa;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 10px;
}

.add-button:hover {
  background: #bcebe3;
  text-decoration: none
}

.submit-button {
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  -webkit-box-shadow: 0px 1px 3px #56ceba;
  -moz-box-shadow: 0px 1px 3px #56ceba;
  box-shadow: 0px 1px 3px #56ceba;
  font-family: Arial;
  color: #BFD641;
  font-size: 20px;
  background: #8D9440;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 10px;
}

.submit-button:hover {
  background: #8FBC8F;
  color: #BFD641;
  text-decoration: none
}

#login-buttons {
  display: block;
}

.video-list-header {
  text-align: center;
}

h1 {
  font-size: 60px;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
  color: #42b7ca;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.video-list-button {
  -webkit-border-radius: 19;
  -moz-border-radius: 19;
  border-radius: 19px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 60%;
  height: 20%;
}

.new-task input {
  width: 50%;
  height: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

.question-paragraph {
  font-size: 30px;
}
.new-task input:focus{
  outline: 0;
}

.NameButton {
  width: 50%;
  height: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #aaa;
  border-color: #ddd;
}

button.private {
  color: red;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

button.notPrivate {
  color: black;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

.container {

}

.redFont {
  color: red;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

.hidden {
  display: none;
}

.video-list{
  float: right;
  width: 20%;
  padding-bottom: 500px;
}

section {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

.service a {
  color: #5b7abb;
  display: block;
}

.service h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #56ceba;
  font-size: 1.3rem;
  margin: 1rem 0 0.6rem;
}

.services-grid2 {
  display: -webkit-box;
  display: flex;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  -webkit-box-align: center;
  align-items: center;
}

.service {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #e7e7e7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.h1-parent {
  color: #9c42ca;
}
.h1-student {
  color: #425fca;
}

.answer-container {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  width: 20%;
  border: 2px solid #e7e7e7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 30px;
}


.service:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.service i {
  font-size: 3.45rem;
  margin: 1rem 0;
}

.service1 i,
.service1 h4,
.service1 .cta {
  color: #42b7ca;
}


.service1:hover {
  border: 2px solid #42b7ca;
}

.service2 i,
.service2 h4,
.service2 .cta {
  color: #425fca;
}

.video-part {
  float: left;
  width: 50%;
}

.question-part {
  float: right;
  width: 50%;
  border-radius: 1px;
  background-color: white;
  padding-bottom: 5%;
  margin-top: 50px;
}

.videoForms {
  margin: 0 auto;
  width: 100%;
}

.videopage {
  width: 100%;
}

.HomeButton {
  width: 80%;
  font-size: 200%;
  margin: 1%;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.NameButton {
  width: 60%;
  font-size: 100%;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

span, a {
  font-size: 20px;
}

.SubmitButton {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.player {
  width: 100%;
  margin-left: 20px;
}

.privateText{
  width: 50%;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }


  .section-lead {
    display: none;
  }

    .homepage::after {
    background-image: none;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 992px){
  .video-part {
    width: 100%;
  }

  .section-lead {
    display: none;
  }

   .homepage::after {
    background-image: none;
  }

  .question-part {
    width: 100%;
    font-size: 200%;
  }

  .videopage {
    width: 100%;
    display: block;
  }
  .new-task input {
    width: 80%;
    height: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
  }
  .privateText{
    width: 80%;
  }
}
